@use lost;
@use postcss-for;

@lost flexbox flex;

.container {
  /*   lost-utility: clearfix; */
  lost-flex-container: row;
}

@for $col from 1 to 12 {
  .columns-$col > * {
    lost-column: 1/$(col);
    margin-bottom: 40px;
  }
}
