@use postcss-center;

.container {
    position: relative;

    color: white; //TODO: remove
}

.image {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

.inner {
    top: center;
    left: center;
}

.bottom {
    left: center;
    bottom: 10px;
}
