@use lost;
@use postcss-for;
@use postcss-simple-vars;

@lost flexbox flex;

$button-width: 50px;

.container {
  margin: 50px 0;
}

.highlighted {
  background-color: lightgray;
  padding: 50px 0;
}

.inner {
  lost-center: 1290px $button-widht;
}

.header {
  display: flex;
}

.header .title {
  margin-right: 15px;
}

.content {
  position: relative;
}

.left-arrow,
.right-arrow {
  position: absolute;
  top: 0;
  height: 100%;
  width: $button-width;

  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */

  background: darkgray;
}

.left-arrow {
  left: -$button-width;
}

.right-arrow {
  right: -$button-width;
}
