@use postcss-center;
@use postcss-property-lookup;
@use postcss-initial;

.container {
    position: relative;

    color: white;
}

.image {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

.inner {
    top: center;
    left: center;
}

.bottom {
    left: center;
    bottom: 10px;
}

.title {
    text-align: center;
}

.indicators {
    all: initial;
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.indicator {
    all: initial;
    margin: 0 5px;
    border: solid 1px white;
    border-radius: 10px;
    height: @border-radius;
    width: @border-radius;
    cursor: pointer;
}

.activeIndicator {
    background-color: white;
}
