@import '../canvas-vars';

@use postcss-center;
@use lost;

@lost flexbox flex;

.container {
  margin: 50px 0;
}

.highlighted {
  background-color: lightgray;
  padding: 50px 0;
}

.inner {
  lost-center: $(canvas-max-width) $(canvas-padding);
}

.content {
  position: relative;
  width: 100%;
}

.left-arrow,
.right-arrow {
  padding: 15px; /* Arrow size */
  margin: 0 -20px 0 -20px;
  box-shadow: 1px -1px 0 1px #ccc inset;
  -webkit-box-shadow: 2px -2px #ccc inset;
  border: solid transparent;
  border-width: 0 0 3rem 3rem;
  transition: 0.2s;
  align-self: center;
}

.left-arrow:hover,
.right-arrow:hover {
  box-shadow: 2px -2px 0 2px #ccc inset;
  -webkit-box-shadow: 3px -3px #ccc inset;
  cursor: pointer;
}

.left-arrow {
  top: center;
  left: -55px;
  transform: rotate(45deg);
  transform-origin: top right;
}

.right-arrow {
  top: center;
  right: calc(-$(canvas-padding) + 75px);
  transform: rotate(225deg);
  transform-origin: top right;
}

/* bigger click area */
.left-arrow::after,
.right-arrow::after {
  content: '';
  position: absolute;
  top: -10px;
  right: -10px;
  bottom: -10px;
  left: -10px;
}

.children {
  display: flex;
  justify-content: space-between;
}
