@import '../canvas-vars';

@use lost;

@lost flexbox flex;

.container {
  margin: 50px 0;
}

.highlighted {
  background-color: lightgray;
  padding: 50px 0;
}

.inner {
  lost-center: $(canvas-max-width) $(canvas-padding);
}

.content {
  position: relative;
  width: 100%;
}

.left-arrow,
.right-arrow {
  position: absolute;
  padding: 15px; /* Arrow size */
  margin: 0 -20px 0 -20px;
  box-shadow: 1px -1px 0 1px #ccc inset;
  border: solid transparent;
  border-width: 0 0 2rem 2rem;
  top: 50%;
  transition: 0.2s;
}

.left-arrow:hover,
.right-arrow:hover {
  box-shadow: 2px -2px 0 2px #ccc inset;
  cursor: pointer;
}

.left-arrow {
  left: -$(canvas-padding);
  transform: rotate(45deg);
}

.right-arrow {
  right: -$(canvas-padding);
  transform: rotate(225deg);
}

.children {
  display: flex;
  justify-content: space-between;
}
